<div class="jumbotron">
  <h1>A map</h1>
  <p>...</p>
  <p>will go here</p>
</div>

<div ng-repeat="teacher in teachers">
  <div class="panel panel-default">
    <div class="media panel-body">
      <div class="media-left">
        <img class="media-object" src="{{teacher.img}}" alt="{{teacher.name}}" width="100">
      </div>
      <div class="media-body">
        <h3 class="media-heading">
          {{teacher.name}}
          <small class="pull-right">{{teacher.dist}} miles </small>
        </h3>
        <ul ng-repeat="subject in teacher.subj">
          <li>{{ subject }}</li>
        </ul>
        Next appointment: {{ teacher.date }}
      </div>
    </div>
  </div>
</div>
