<div class="jumbotron" style="margin-top: -20px; background-image: url({{getMapUrl(640,320)}}
); background-attachment: fixed; background-size: cover; position: relative;">


<div class="container" style="z-index: 1">
  <div class="row">
    <div class="panel panel-default col-xs-10 col-md-8 col-lg-6 col-xs-offset-1 col-sm-offset-0" style="display: inline-block; background-color: rgba(255, 255, 255, .95);">
      <div class="panel-body row" style="display: inline-block;">
        <div class="col-sm-4">
          <img src="{{teacher.img}}" alt="" class="img-circle" style="max-width: 100%;">
        </div>
        <div class="col-sm-8">
          <h2>
            <small>Hi, I'm</small>
            {{ teacher.name }}
          </h2>
          <p>I can help with <b>{{teacher.subj}}</b></p>

        </div>


      </div>
    </div>
  </div>
</div>

</div>


<div class="container">

  <div class="row">

    <div class="col-lg-8 col-md-6" ng-if="session">
      <div class="page-header">
        <h1>Session details</h1>
      </div>

      <p class="lead">
        <ul>
          <li>Location: {{ teacher.loc }}</li>
          <li>Day: {{ teacher.date }}</li>
          <li>Time: {{ teacher.time }}</li>
        </ul>
      </p>

      <a href="#" class="btn btn-primary bt-lg">Confirm Appointment</a>

    </div>

    <div class="col-lg-8 col-md-6" ng-if="!session">
      <div class="page-header">
        <h1>Upcoming sessions</h1>
      </div>
    </div>


    <div class="col-lg-4 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Chat with me <span class="pull-right glyphicon glyphicon-comment"></span></h3>
        </div>

        <ul id="messages" class="list-group">
        </ul>

        <div class="panel-footer">
          <form id="message-form" action="#" class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="message" placeholder="Send a message">
            </div>
            <button id="submit" type="submit" class="btn btn-primary">
              Send
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
